.vscode/**
.vscode-test/**
src/**
docs/**
out/test/**
.claude/**
.omc/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
pnpm-lock.yaml
changelog.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
